@import "./colors.scss";

.layer,
.appBar {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}

.top {
  position: fixed;
  top: 0;
  border-bottom: 1px solid $lightgray;
}
.bottom {
  border-top: 1px solid $lightgray;
}

.appBar {
  box-sizing: border-box;
  width: 100%;
  padding: 0px 150px;
  display: flex;
  align-items: center;
  gap: 30px;
  z-index: 1;
}

.leading {
  margin-right: auto;
}

.link:not(.leading) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iconButton {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  width: 24px;
  height: 24px;
  display: none;
}

@media (max-width: 1024px) {
  .appBar {
    padding: 0px 100px;
  }
}

@media (max-width: 768px) {
  .appBar {
    padding: 0px 50px;
  }
}

@media (max-width: 568px) {
  .layer,
  .appBar {
    height: 80px;
  }

  .appBar {
    padding: 0px 30px;
  }

  .top .iconButton {
    display: block;
  }

  .link:not(.leading) {
    display: none;
  }
}
