.category {
  margin-bottom: 80px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (max-width: 568px) {
  .products {
    gap: 10px;
  }
  .category {
    margin-bottom: 40px;
  }
}
