@import "./colors.scss";

.menu {
  height: min-content;
  display: grid;
  grid-template-columns: 1fr auto;
}

/* toc = Table Of Content */

.toc {
  position: sticky;
  top: 100px;
  height: 300px;
  width: clamp(100px, 200px, 200px);
  margin-left: 20px;
}

.tocItem {
  margin-bottom: 20px;
}

.tocItem,
.link {
  font-size: large;
  color: $gray;
}

.link {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .toc {
    position: relative;
    width: 100%;
    top: 0;
    height: auto;
    grid-row: 1;
    margin-left: 0;
  }
}
