@import "./colors.scss";

.menu {
  height: min-content;
  display: grid;
  grid-template-columns: 1fr auto;
}

/* toc = Table Of Content */

.toc {
  position: sticky;
  top: 100px;
  height: calc(100vh - 100px);
  max-width: 400px;
  margin-left: 20px;
  overflow-y: auto;
}

.tocHeader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.link {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.tocItem {
  margin-bottom: 20px;
}

.tocHeader button {
  display: none;
}

@media screen and (max-width: 768px) {
  .menu {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .toc {
    position: relative;
    width: 100%;
    top: 0;
    grid-row: 1;
    margin-left: 0;
    height: fit-content;
  }

  .tocHeader button {
    display: block;
  }

  .tocList {
    overflow: hidden;
  }
}
